<nav class="navbar navbar-expand-lg">
    <div class="container-fluid p-0 d-flex flex-column align-items-start">
        <div class="row justify-content-between w-100 navbar-brand">
            <a class="col-auto row g-0 sf-logo-header" href="{% link index.md %}">
                <img class="img-fluid-vertical align-middle sf-logo-image mx-3"
                    src="{% link assets/images/logo.svg %}" />
                <h1 class="col sf-logo fw-bold display-1">
                    <span class="text-primary" style="margin-right: -0.2em;">Scienti</span>
                    <span class="text-secondary">Fika</span>
                </h1>
            </a>
            <button class="col-auto navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarBar" aria-controls="navbarBar" aria-expanded="true"
                aria-label="Toggle navigation">
                <div class="sf-navbar-toggler-icon">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </button>
        </div>
        <div class="collapse sf-navbar-collapse navbar-collapse w-100" id="navbarBar">
            <ul class="navbar-nav bg-dark w-100 bg-dark rounded-2 fs-4 p-0">
                {% for navpagelink in site.data.navpages %}
                {% assign navpage = site.pages | where: "name", navpagelink | first %}
                <li class="nav-item rounded-start-1">
                    <a href="{% link {{navpagelink}} %}"
                        class="nav-link p-2 px-4 text-secondary bg-primary-hover text-decoration-none {% if navpage.name == page.name %}bg-primary{% endif %} {% if forloop.first %}rounded-first-lg{% endif %} {% if forloop.last %}rounded-last-lg{% endif %}"
                        {% if navpage.name==page.nam %}aria-current="page" {% endif %}>
                        {{ navpage.title }}
                    </a>
                </li>
                {% endfor %}
                <li class="nav-item ms-lg-auto">
                    <a href="https://www.instagram.com/scientifika.su/" target="_blank"
                        class="d-flex nav-link px-4 text-secondary bg-primary-hover text-decoration-none rounded-last-lg">
                        <div class="d-lg-none">Instagram</div>
                        <div class="ps-2 pt-1 mb-n1">
                            <i class="bi bi-instagram"></i>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
