<nav class="navbar navbar-expand-lg">
    <div class="container-fluid p-0 d-flex flex-column align-items-start">
        <div class="row justify-content-between w-100 navbar-brand">
            <div class="col-auto row g-0">
                <a class="col" href="{% link index.md %}">
                    <img class="img-fluid-vertical align-middle sf-logo-image"
                        src="{% link assets/Scientifika-logo-website-transparent-small.png %}" />
                </a>
                <h1 class="col sf-logo fw-bold display-1">
                    <span class="text-light" style="margin-right: -0.2em;">Scienti</span>
                    <span class="text-primary">Fika</span>
                </h1>
            </div>
            <button class="col-auto navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBar"
                aria-controls="navbarBar" aria-expanded="true" aria-label="Toggle navigation">
                <div class="sf-navbar-toggler-icon">
                    <div class="bar"></div><div class="bar"></div><div class="bar"></div>
                </div>
            </button>
        </div>
        <div class="collapse navbar-collapse w-100" id="navbarBar">
            <ul class="navbar-nav bg-dark w-100 bg-dark rounded-2 fs-4 p-0">
                {% for navpagelink in site.data.navpages %}
                {% assign navpage = site.pages | where: "name", navpagelink | first %}
                <li class="nav-item rounded-start-1">
                    <a href="{% link {{navpagelink}} %}"
                        class="nav-link p-2 px-4 text-light bg-primary-hover text-decoration-none {% if navpage.name == page.name %}bg-primary{% endif %} {% if forloop.first %}rounded-first-lg{% endif %} {% if forloop.last %}rounded-last-lg{% endif %}"
                        {% if navpage.name==page.nam %}aria-current="page" {% endif %}>
                        {{ navpage.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
