<div class="card m-3 shadow bg-light">
  <div class="card-header" {% if include.fixedheight %}style="min-height: {{include.fixedheight}};" {% endif %}>
    <a class="text-decoration-none" href="{% link {{ include.talk.path }} %}">
      <h4 class="mb-0 card-title">{{post.title}}</h4>
    </a>
  </div>
  {% if include.talk.img %}
  {% if include.talk.img.path %}
  {% assign img_src = include.talk.img.path | relative_url %}
  {% else if include.talk.img.href %}
  {% assign img_src = {{include.talk.img.href}} %}
  {% else %}
  {% assign img_src = {% link {{include.talk.img}} %} %}
  {% endif %}
  <div class="sf-talk-card-img" style="background-image: url('{{img_src}}');">
    <img src="{{img_src}}" {% if include.talk.img.center %} style="object-position: {{include.talk.img.center}};" {%
      endif %} alt="Title Image of Talk {{include.talk.title}}" loading="lazy">
  </div>
  {% endif %}
  {% if include.talk.imgs %}
  <div id="carousel-{{include.id}}" class="carousel slide">
    <div class="carousel-indicators">
      {% for img in include.talk.imgs %}
      <button type="button" data-bs-target="#carousel-{{include.id}}" data-bs-slide-to="{{forloop.index0}}" {% if
        forloop.first %} class="active" aria-current="true" {% endif %} aria-label="Image {{forloop.index}}"></button>
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for img in include.talk.imgs %}
      {% if img.path %}
      {% assign img_src = img.path | relative_url %}
      {% else if include.talk.img.href %}
      {% assign img_src = {{img.href}} %}
      {% else %}
      {% assign img_src = {% link {{img}} %} %}
      {% endif %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="sf-talk-card-img" style="background-image: url('{{img_src}}');">
          <img src="{{img_src}}" {% if include.talk.img.center %} style="object-position: {{include.talk.img.center}};"
            {% endif %} alt="Title Image of Talk {{include.talk.title}}" loading="lazy">
        </div>
      </div>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{include.id}}" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{include.id}}" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  {% endif %}
  <div class="card-body text-justify bg-light rounded py-2">
    <div class="row justify-content-between">
      <button class="col-auto {% if include.initcollapsed %}collapsed{% endif %} btn pe-5 py-0" type="button"
        data-bs-toggle="collapse" data-bs-target="#abstract-{{include.id}}" aria-expanded="true"
        aria-controls="abstract-{{include.id}}">
        <div class="sf-navbar-toggler-icon-minor">
          <div class="row">
            <div class="sf-navbar-toggler-icon-container mt-1 ms-3">
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
            <div class="col-auto">
              Abstract
            </div>
          </div>
        </div>
      </button>
      <span class="col-auto">
        {{ include.talk.date | date: "%Y-%m-%d" }} 
        {% if include.talk.opento %}<span class="opento">✨ Open to {{include.talk.opento}}* ✨</span>{% endif %}
        • 
        {% if include.talk.link %}
        <a
          href="{{include.talk.link}}" target="_blank">{% endif %}{{ include.talk.speaker }} {% if include.talk.link
          %}</a>{% endif %}</span>
    </div>
    <div class="row justify-content-between">
      {% if include.talk.presentation %}
      <div class="col-auto">
        <a type="button" class="btn btn-primary btn-sm text-light"
          href="{% link assets/presentations/{{include.talk.presentation}} %}" target="_blank">Presentation</a>
      </div>
      {% endif %}
    </div>
    <div class="mt-3 {% unless include.initcollapsed %}show{% endunless %} collapse" id="abstract-{{include.id}}">
      {{include.talk.content}}
      {% if include.talk.opento %}
        <div class="opento-expl">
        {% if include.talk.opento == 'everyone' %}
          *Everyone includes students (undergraduate, master's, and PhD), postdocs, senior researchers, faculty, and staff members.
        {% endif %}
        {% if include.talk.opento == 'juniors' %}
          *Junior audience is a term that encompasses undergraduate, master's, and PhD students, as well as postdocs.
        {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
