<div class="card m-3 shadow bg-light">
    {% if include.talk.img %}
    <img src="{% link {{include.talk.img}}%}" class="card-img-top" alt="Title Image of Talk {{include.talk.title}}"
        loading="lazy">
    {% endif %}
    <div class="card-header" {% if include.fixedheight %}style="min-height: {{include.fixedheight}};"{% endif %}>
        <a class="text-decoration-none" href="{% link {{ include.talk.path }} %}">
            <h4 class="mb-0 card-title">{{post.title}}</h4>
        </a>
    </div>
    <div class="card-body text-justify bg-light rounded py-2">
        <div class="row justify-content-between">
            <button class="col-auto {% if include.initcollapsed %}collapsed{% endif %} btn pe-5 py-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#abstract-{{include.id}}" aria-expanded="true" aria-controls="abstract-{{include.id}}">
                <div class="sf-navbar-toggler-icon-minor">
                    <div class="row">
                       <div class="sf-navbar-toggler-icon-container mt-1 ms-3">
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                        <div class="col-auto">
                            Abstract
                        </div>
                    </div>
                </div>
            </button>
            <span class="col-auto">{{ include.talk.date | date: "%Y-%m-%d" }} • {% if include.talk.link %}<a href="{{include.talk.link}}" target="_blank">{% endif %}{{ include.talk.speaker }} {% if include.talk.link %}</a>{% endif %}</span>
        </div>
        <div class="row justify-content-between">
            {% if include.talk.presentation %}
            <div class="col-auto">
                <a type="button" class="btn btn-primary btn-sm text-light"
                    href="{% link assets/presentations/{{include.talk.presentation}} %}"
                    target="_blank">Presentation</a>
            </div>
            {% endif %}
        </div>
        <div class="mt-3 {% unless include.initcollapsed %}show{% endunless %} collapse" id="abstract-{{include.id}}">
            {{include.talk.content}}
        </div>
    </div>
</div>
