<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div class="container-sm p-3 min-vh-100 d-flex flex-column">
        {% include header.html %}

        {{ content }}

        {% unless page.nofooter %}
        {% include footer.html %}
        {% endunless %}
    </div>
    
    <!-- Halloween! -->
    <!-- <div class="halloween-bats"> -->
    <!--     <div class="bat bat1">🦇</div> -->
    <!--     <div class="bat bat2">🦇</div> -->
    <!--     <div class="bat bat3">🦇</div> -->
    <!--     <div class="bat bat4">🦇</div> -->
    <!--     <div class="bat bat5">🦇</div> -->
    <!--     <div class="bat bat6">🦇</div> -->
    <!--     <div class="bat bat7">🦇</div> -->
    <!--     <div class="bat bat8">🦇</div> -->
    <!-- </div> -->

    <!-- <script> -->
    <!--     document.addEventListener('DOMContentLoaded', function() { -->
    <!--         const logo = document.querySelector('.sf-logo-header'); -->
    <!--         const batsContainer = document.querySelector('.halloween-bats'); -->
    <!--         let activated = false; -->
    <!---->
    <!--         if (logo && batsContainer) { -->
    <!--             logo.addEventListener('pointerenter', function() { -->
    <!--                 if (!activated) { -->
    <!--                     batsContainer.classList.add('active'); -->
    <!--                     activated = true; -->
    <!--                 } -->
    <!--             }); -->
    <!--         } -->
    <!--     }); -->
    <!-- </script> -->
</body>

</html>
